<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
  {{error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetError()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row" *ngIf="!error">
  <div class="col">
    <label>Номер</label>
    <input type="number" [(ngModel)]="waterMeter.id" class="form-control" />
  </div>
  <div class="col">
    <label>Показания</label>
    <input type="number" [(ngModel)]="waterMeter.value" class="form-control" />
  </div>
  <div class="col">
    <button class="btn btn-outline-success btn-block" (click)="registerWaterMeter(waterMeter)">Зарегистрировать</button>
    <button class="btn btn-outline-dark btn-block" (click)="cancel()">Отмена</button>
  </div>
</div>
