<div class="row">
  <div class="col">
    <label>Номер</label>
    <input type="text" [(ngModel)]="waterMeter.id" class="form-control" />
  </div>
  <div class="col">
    <label>Показания</label>
    <input type="number" [(ngModel)]="waterMeter.value" class="form-control" />
  </div>
  <div class="col">
    <button class="btn btn-outline-success btn-block" (click)="registerWaterMeter(waterMeter)">Зарегистрировать</button>
    <button class="btn btn-outline-dark btn-block" (click)="cancel()">Отмена</button>
  </div>
</div>
